.chartTooltip {
  position: absolute;
  text-align: center;
  width: max-content;
  height: max-content;
  padding: 8px;
  font: 14px sans-serif;
  background: #e2ecfd;
  border: 0;
  border-radius: 8px;
  z-index: 1;
}

.chartTooltip p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.tooltipDate {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.tooltipGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem 0.5rem;
}

.tooltipLabel {
  text-align: start;
  padding-right: 0.5rem;
  color: black;
}

.tooltipValue {
  text-align: start;
  padding-left: 0.5rem;
  color: black;
}

/* Specific metric colors */
.cycleTime {
  color: #d57500; /* orange */
}

.leadTime {
  color: #0062a5; /* blue */
}

.wip {
  color: #dd0030; /* pinkish-red */
}
